.feedbackButtons {
  background-color: transparent;
}
.button {
  font-size: 14px;
  line-height: 20px;
  color: rgb(0, 0, 0);

  width: 70px;
  height: 35px;
  border: 2px solid rgb(100, 100, 186);
  border-radius: 15px;
  background-color: rgba(0, 162, 255, 0.123);
  cursor: pointer;
}
.button + .button {
  margin-left: 10px;
}
